includes:
  - ./vendor-bin/phpstan/vendor/phpstan/phpstan-beberlei-assert/extension.neon
  - ./vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    bootstrapFiles:
        - tests/Fixtures/app/AppKernel.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    checkAlwaysTrueStrictComparison: true
    checkDynamicProperties: true
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - %currentWorkingDirectory%/tests/Fixtures/app/var
        - %currentWorkingDirectory%/src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
        # TODO: To remove once the pagination will be correctly implemented
        - %currentWorkingDirectory%/tests/Fixtures/TestBundle/Controller/Dummy/GetCollectionDummy/DummyCollectionOutput.php
        - %currentWorkingDirectory%/tests/Fixtures/TestBundle/Controller/DummyAttribute/DummyAttributeCollectionOutput.php
    ignoreErrors:
        -
          messages:
            - '#Method ApiScout\\Tests\\Fixtures\\app\\AppKernel::getBundlesPath\(\) is unused.#'
          paths:
            - tests/Fixtures/app/AppKernel.php
        - '#Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.#'
