includes:
  - ./vendor-bin/phpstan/vendor/phpstan/phpstan-beberlei-assert/extension.neon
  - ./vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    bootstrapFiles:
        - tests/Fixtures/app/AppKernel.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    checkAlwaysTrueStrictComparison: true
    checkDynamicProperties: true
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - %currentWorkingDirectory%/tests/Fixtures/app/var
        - %currentWorkingDirectory%/src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/src/OpenApi/Factory/OpenApiFactory.php
    ignoreErrors:
        - '#Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.#'
