includes:
  - ./vendor-bin/phpstan/vendor/phpstan/phpstan-beberlei-assert/extension.neon
  - ./vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    bootstrapFiles:
        - tests/Fixtures/app/AppKernel.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    checkAlwaysTrueStrictComparison: true
    checkDynamicProperties: true
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - %currentWorkingDirectory%/tests/Fixtures/app/var
        - %currentWorkingDirectory%/src/Core/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
    ignoreErrors:
        -
          messages:
            - '#Call to an undefined method ApiScout\\Core\\Domain\\Operation::get[a-zA-Z]+\(\)#'
          paths:
            - src/Core/Bridge/Symfony/Routing
        - '#Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.#'
        - '#ApiScout\\Tests\\Fixtures\\app\\AppKernel::get[a-zA-Z]+\(\) is unused.#'
